<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Money Monsters</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
  <div class="splash">
  <div class="container">
  <header>
    <h1>MoneyMonsters</h1>
  </header>
<main>

   <%- include('logoNoBG') %>

   <div class="r1"><a href="/register"> Sign Up </a></div>

   <a href="/login"> Sign In </a>

</main>
</div>
</body>
</html>