// Style guide colours
 
$primary: #F1F1F1;
$white: #FFFFFF;
$black:#000000;
$secondary: #2F2F2F;
$secondary-light: #BDBDBD;
$tertiary: #714AA8;
$quarternary: #DDFFD7;
$success: #31D22B;
$warnings: #FFC64A;
$coin: #fdbe69;
$inner-coin: #e19426;
$error: #FF585B;