<div id="assignTaskModal" class="baseModal">
  <div class="modalContent">
    <h2>Assign Task to Goal</h2>
    
    <div class="modalBody">
      <div class="taskList" aria-label="Available tasks to assign">
      </div>
    </div>
  </div>
</div>