<div class="modal" id="assignTaskModal">
  <div class="modalContent">
    <span class="closeModal">&times;</span>
    <h2>Assign Task to Goal</h2>
    
    <div class="taskList">
      <div class="loadingMessage">
        <p>Loading available tasks...</p>
      </div>
    </div>
    
    <div class="modalActions">
      <button type="button" class="cancelBtn">Cancel</button>
    </div>
  </div>
</div>