<div id="confirmReassignModal" class="baseModal">
  <div class="modalContent">
    <h2>Change Assigned Goal?</h2>
    
    <div class="modalBody">
      <p id="confirmReassignMsg">You assigned the task to a goal. Are you sure you want to change the goal?</p>
      
      <div class="modalFooter">
        <button type="button" class="modalBtn primary" id="confirmReassignYes" aria-label="Yes, change the assigned goal">Yes</button>
        <button type="button" class="modalBtn secondary" id="confirmReassignNo" aria-label="No, keep the current goal assignment">No</button>
      </div>
    </div>
  </div>
</div>