html {
display: flex;
justify-content: center;
background-color: $primary;
}

.container {
    max-width: 100%;
    width: 20rem;
    height: 97vh;
    background-color: white;
    border-radius: 0.2rem;
    overflow-y: scroll;
    box-shadow: 0 4px 10px $black;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }