.bottomNav {
    background-color: $secondary;
    border-radius: 2px;
    width: 19rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0; 
    margin: auto;
    transform: translateY(15%);
  }

  main {
    margin-bottom: 4rem;
  }
  