
<div class="viewAsChild">
        <div class="memberCard">
           <div class="avatar">
<% if (locals.viewingAsChild && locals.viewingChildName) { %>
              <% if (child.profilePhoto && child.profilePhoto.url) { %>
              <img src="<%= child.profilePhoto.url %>" alt="Profile Photo">
              <% } else { %>
              <i class="fas fa-user avatar-icon"></i>
           <% } %>
             </div>
            <div class="memberInfo">
        <div class="memberName">Viewing as <%= child.firstName %></div>
 </div>
      </div>
    </div>

  <% } %>