<% if (locals.viewingAsChild && locals.child) { %>
  <div class="viewAsChild">
    <div class="memberCard">
      <div class="avatar">
        <% if (locals.child.profilePhoto && locals.child.profilePhoto.url) { %>
          <img src="<%= locals.child.profilePhoto.url %>" alt="Profile Photo">
        <% } else { %>
          <i class="fas fa-user avatar-icon"></i>
        <% } %>
      </div>
      <div class="memberInfo">
        <div class="memberName">Viewing as <%= locals.child.firstName %></div>
      </div>
    </div>
  </div>
<% } %>