.initials-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #714AA8;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", sans-serif;
} 