
.progress-wrapper {
  flex: 1;
  margin-left: 1rem;
  text-align: right;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.progress-bar {
  height: 6px;
  background-color: $tertiary;
  border-radius: 4px;
  width: 100%;
  max-width: 120px;
}

.progress-indicator {
  transform-origin: center;
  transition: stroke-dashoffset 0.5s ease;
}